<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Fitness Calculator</title>
    <link rel="stylesheet" href="fitnessApp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Fitness Calculator</h1>

    <div class="indexDivs">
        <h2>Membership</h2>

        <div>
            <button class="indexButton" onclick="window.location.href = '/becomeMember';"><span>Become a Member</span></button>
            <button class="indexButton" onclick="window.location.href = '/memberSearch';"><span>Search for Member</span></button>
            <button class="indexButton" onclick="window.location.href = '/removeMember';"><span>End Membership</span></button>
        </div>
    </div>

    <br>
    <br>
    
    <div class="indexDivs">
        <h2>Fitness Calculators</h2>

        <div>
            <button class="indexButton" onclick="window.location.href = '/bmi';"><span>BMI</span></button>
            <button class="indexButton" onclick="window.location.href = '/dailyCalories';"><span>Daily Calorie Intake</span></button>
            <button class="indexButton" onclick="window.location.href = '/idealWeight';"><span>Ideal Weight</span></button>
        </div>
    </div>
	<hr>
</body>

</html>